<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>318054407225-suvcmj7jl6g6fqqb08oi9v4mej8qgm0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318054407225-suvcmj7jl6g6fqqb08oi9v4mej8qgm0i</string>
	<key>API_KEY</key>
	<string>AIzaSyC7cCLk6ICrv50UjEXv9zR5wjve1YCnBF4</string>
	<key>GCM_SENDER_ID</key>
	<string>318054407225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>c4q.HandyAccess</string>
	<key>PROJECT_ID</key>
	<string>handy-access</string>
	<key>STORAGE_BUCKET</key>
	<string>handy-access.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:318054407225:ios:706010b149e50466</string>
	<key>DATABASE_URL</key>
	<string>https://handy-access.firebaseio.com</string>
</dict>
</plist>